:root {
    --body-bgcolor: #0f1f42;
    --main-font-color: #ffffff;
    --main-title-size: 7vh;
    --section-title-size: 4vh;
    --text-size: 3vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--body-bgcolor);
    color: var(--main-font-color);
}

a, a:active {
    text-decoration: none;
    color: inherit;
}

.nav {
    position: fixed;
    height: 7vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10;
}

.nav-links {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: auto;
    max-width: 50%;
}

.nav-link {
    color: #000000;
    text-align: center;
    flex-grow: 1;
    font-size: 2.5vh;
    list-style: none;
    transition: transform 0.2s;
}

.nav-link:hover {
    transform: scale(1.1);
}

.anchor {
    position: relative;
    bottom: 5vh;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 6vh;
    margin: 0;
}

.strapline {
    font-size: var(--text-size);
}

.section-title {
    font-size: var(--section-title-size);
    text-align: center;
    margin-bottom: 1.5em;
}

.about {
    font-size: var(--text-size);
}

.about-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.profile {
    width: 50%;
}

.technologies {
    width: 30%;
}

@media (max-width: 1600px) {
    .profile {
        width: 60%;
    }
}

.tech-item {
    position: relative;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.js {
    grid-area: js;
}

.python {
    grid-area: python;
}

.git {
    grid-area: git;
}

.profile {
    height: fit-content;
}

.tech-list {
    margin: 1em auto;
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "html . css"
    ". js ."
    "python . git";
}

.tech-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    transition: all 0.5s ease;
}

.tech-img{
    width: 100%;
    object-fit: contain;
}

.tech-item {
    /*outline: 1px solid white;*/
    aspect-ratio: 1 / 1;
}

.tech-item:hover {
    cursor: default;
}

.tech-item:hover .tech-img {
    opacity: 0.3;
}

.tech-item:hover .tech-name {
    background-color: var(--body-bgcolor);
    border-radius: 5%;
    font-size: var(--text-size);
    padding: 0 0.5em;
    opacity: 1;
}

.connect4 {
    grid-area: connect4;
}

.projects-list {
    margin: auto;
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    list-style-type: none;
    grid-template-areas: ". connect4 .";
}

.project-item {
    position: relative;
}

.project-item:hover .project-img {
    opacity: 0.3;
}

.project-img {
    width: 100%;
    border-radius: 3%;
    outline: 2px solid black;
}

.connect4 img {
    aspect-ratio: 1 / 1;
}

.source-link,
.demo-link {
    outline: 1px solid #ffffff;
    font-size: var(--text-size);
    padding: 0 0.5em;
    border-radius: 5%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    transition: all 0.2s ease;
    cursor: pointer;
}

.source-link {
    left: 50%;
    top: 30%;
}

.demo-link {
    left: 50%;
    top: 60%;
}

.project-item:hover .source-link {
    background-color: var(--body-bgcolor);
    opacity: 1;
}

.project-item:hover .demo-link {
    background-color: var(--body-bgcolor);
    opacity: 1;
}

.contacts-list {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 15vh;
    padding-left: 0;
    list-style-type: none;
}

.contacts-list li img {
    height: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(101%) contrast(104%);
}

.contacts-list li img:hover {
    opacity: 0.7;
}