:root {
    --body-bgcolor: #404040;
}

body {
    font-family: 'Courier Prime', monospace;
    background-color: var(--body-bgcolor);
}

.home {
    color: #ffffff;
}

.nav {
    position: fixed;
    height: 7vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
}

.nav-links {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: auto;
    max-width: 50%;
}

.nav-link {
    text-align: center;
    flex-grow: 1;
    font-size: 2.5vh;
    list-style: none;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}